In [2]:
#sciągamy dane appla,amazon,google,ubera
import numpy as np
import pandas as pd
def fetch_financial_data(company='AMZN'):
    import pandas_datareader.data as web
    return web.DataReader(name=company, data_source='stooq')

apple = fetch_financial_data("AAPL")
amazon = fetch_financial_data("AMZN")
google = fetch_financial_data('GOOGL')
uber = fetch_financial_data('UBER')

In [3]:
uber.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 301 entries, 2020-07-20 to 2019-05-10
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    301 non-null    float64
 1   High    301 non-null    float64
 2   Low     301 non-null    float64
 3   Close   301 non-null    float64
 4   Volume  301 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 14.1 KB

In [4]:
apple.head(5)

               Open    High     Low   Close    Volume
Date
2020-07-20  385.665  394.00  384.25  393.43  22579477
2020-07-17  387.950  388.59  383.36  385.31  23046725
2020-07-16  386.250  389.62  383.62  386.09  27644418
2020-07-15  395.960  396.99  385.96  390.90  38299483
2020-07-14  379.360  389.02  375.51  388.23  42747341

In [5]:
#dodanie do tytułów kolumn przedrostków firm
apple.columns = ['apple_' + col.lower() for col in apple.columns]
amazon.columns = ['amazon_' + col.lower() for col in amazon.columns]
google.columns = ['google_' + col.lower() for col in google.columns]
uber.columns = ['uber_' + col.lower() for col in uber.columns]

In [6]:
apple.head(5)

            apple_open  apple_high  apple_low  apple_close  apple_volume
Date
2020-07-20     385.665      394.00     384.25       393.43      22579477
2020-07-17     387.950      388.59     383.36       385.31      23046725
2020-07-16     386.250      389.62     383.62       386.09      27644418
2020-07-15     395.960      396.99     385.96       390.90      38299483
2020-07-14     379.360      389.02     375.51       388.23      42747341

In [7]:
#laczymy dane i dodane w kolejnym kolumnach
df = pd.concat(objs=[apple, amazon, google, uber], axis=1)
df

,apple_open,apple_high,apple_low,apple_close,apple_volume,amazon_open,amazon_high,amazon_low,amazon_close,amazon_volume,google_open,google_high,google_low,google_close,google_volume,uber_open,uber_high,uber_low,uber_close,uber_volume
Date,,,,,,,,,,,,,,,,,,,,
2015-07-23,116.300,117.13,115.27,115.36,55337375,491.66,491.6600,475.7000,482.18,9374400,691.85,696.07,671.5900,674.73,3811500,NaN,NaN,NaN,NaN,NaN
2015-07-24,115.520,115.89,114.18,114.74,45748596,578.99,580.5700,529.3500,529.42,21909300,677.28,677.79,653.1800,654.77,4131100,NaN,NaN,NaN,NaN,NaN
2015-07-27,113.460,113.92,112.56,113.15,48236852,527.75,544.9500,526.6000,531.41,7490900,651.57,667.07,651.5500,658.27,2919100,NaN,NaN,NaN,NaN,NaN
2015-07-28,113.710,114.19,112.94,113.71,36477525,536.00,536.3900,523.1200,526.03,5273000,661.76,664.10,653.4100,659.66,1718100,NaN,NaN,NaN,NaN,NaN
2015-07-29,113.520,113.82,112.68,113.37,40159839,530.92,532.9700,525.0200,529.00,3752634,662.26,663.33,652.8400,661.43,1837805,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-07-14,379.360,389.02,375.51,388.23,42747341,3089.00,3127.3800,2950.0000,3084.00,7231933,1492.79,1522.80,1485.9250,1520.86,1905400,31.35,31.3800,30.48,30.93,21781825.0
2020-07-15,395.960,396.99,385.96,390.90,38299483,3080.23,3098.3500,2973.1801,3008.87,5788874,1523.23,1536.33,1497.8300,1516.88,1551325,32.10,32.9700,31.68,32.81,20976523.0
2020-07-16,386.250,389.62,383.62,386.09,27644418,2971.06,3032.0000,2918.2300,2999.90,6394246,1501.50,1515.91,1488.2700,1514.92,1324227,32.05,32.5900,31.55,32.35,11090750.0
2020-07-17,387.950,388.59,383.36,385.31,23046725,3009.00,3024.0000,2948.4500,2961.97,4761319,1516.91,1523.43,1498.1000,1516.85,1713231,32.58,32.8162,31.85,32.55,13667896.0
2020-07-20,385.665,394.00,384.25,393.43,22579477,3000.20,3201.3599,2994.0172,3196.84,7598176,1515.00,1569.01,1502.6961,1563.84,1508277,32.48,33.9250,32.35,33.66,16213609.0

In [8]:
df.describe()

,apple_open,apple_high,apple_low,apple_close,apple_volume,amazon_open,amazon_high,amazon_low,amazon_close,amazon_volume,google_open,google_high,google_low,google_close,google_volume,uber_open,uber_high,uber_low,uber_close,uber_volume
count,1257.000000,1257.000000,1257.000000,1257.000000,1.257000e+03,1257.000000,1257.000000,1257.000000,1257.000000,1.257000e+03,1257.000000,1257.000000,1257.000000,1257.000000,1.257000e+03,301.000000,301.000000,301.000000,301.000000,3.010000e+02
mean,169.864551,171.617502,168.307384,170.061445,3.564265e+07,1320.342865,1333.801509,1305.473395,1320.551038,4.277281e+06,1016.612592,1025.993360,1006.884326,1016.903817,1.789690e+06,33.996905,34.682330,33.161543,33.943654,2.547279e+07
std,66.781453,67.795985,66.042730,67.023195,1.786724e+07,584.445703,592.515439,576.657549,585.364974,2.213145e+06,223.512479,226.408023,221.303861,224.216023,8.893980e+05,5.944207,5.871424,5.971422,5.883568,2.103025e+07
min,84.645000,86.212000,84.145000,84.964000,1.149765e+07,463.580000,489.440000,451.000000,463.370000,8.813370e+05,600.600000,634.500000,593.090000,612.470000,5.211410e+05,15.960000,17.800000,13.710000,14.820000,3.380003e+06
25%,109.080000,110.400000,107.930000,109.470000,2.391363e+07,770.000000,774.980000,765.340000,770.620000,2.808040e+06,803.210000,807.490000,798.050000,802.830000,1.222854e+06,29.740000,30.180000,29.210000,29.740000,9.799269e+06
50%,162.560000,164.360000,160.410000,162.290000,3.098983e+07,1312.240000,1327.450000,1292.300000,1305.200000,3.702016e+06,1046.210000,1056.000000,1032.680000,1044.960000,1.567161e+06,33.000000,33.595000,32.259900,33.020000,2.128281e+07
75%,201.760000,204.060000,200.720000,202.450000,4.166294e+07,1793.810000,1805.900000,1776.630000,1792.570000,5.113983e+06,1180.180000,1188.750000,1167.630000,1178.860000,2.071947e+06,38.790000,39.150000,36.920000,37.600000,3.411586e+07
max,395.960000,399.820000,385.960000,393.430000,1.751650e+08,3251.060000,3344.290000,3135.700000,3200.000000,2.190930e+07,1549.940000,1576.360000,1520.980000,1563.840000,6.658855e+06,46.980000,47.080000,45.080000,46.380000,1.863225e+08

In [9]:
#ustawiamy prawidlowe wyświetlanie czyli liczba i 2 cyfry po przecinku
pd.set_option('display.float_format', lambda x: f'{x:.2f}')
df.describe().T

,count,mean,std,min,25%,50%,75%,max
apple_open,1257.00,169.86,66.78,84.64,109.08,162.56,201.76,395.96
apple_high,1257.00,171.62,67.80,86.21,110.40,164.36,204.06,399.82
apple_low,1257.00,168.31,66.04,84.14,107.93,160.41,200.72,385.96
apple_close,1257.00,170.06,67.02,84.96,109.47,162.29,202.45,393.43
apple_volume,1257.00,35642648.30,17867243.72,11497646.00,23913634.00,30989833.00,41662938.00,175164966.00
amazon_open,1257.00,1320.34,584.45,463.58,770.00,1312.24,1793.81,3251.06
amazon_high,1257.00,1333.80,592.52,489.44,774.98,1327.45,1805.90,3344.29
amazon_low,1257.00,1305.47,576.66,451.00,765.34,1292.30,1776.63,3135.70
amazon_close,1257.00,1320.55,585.36,463.37,770.62,1305.20,1792.57,3200.00
amazon_volume,1257.00,4277281.18,2213144.50,881337.00,2808040.00,3702016.00,5113983.00,21909300.00
google_open,1257.00,1016.61,223.51,600.60,803.21,1046.21,1180.18,1549.94
google_high,1257.00,1025.99,226.41,634.50,807.49,1056.00,1188.75,1576.36
google_low,1257.00,1006.88,221.30,593.09,798.05,1032.68,1167.63,1520.98
google_close,1257.00,1016.90,224.22,612.47,802.83,1044.96,1178.86,1563.84
google_volume,1257.00,1789689.75,889397.95,521141.00,1222854.00,1567161.00,2071947.00,6658855.00
uber_open,301.00,34.00,5.94,15.96,29.74,33.00,38.79,46.98
uber_high,301.00,34.68,5.87,17.80,30.18,33.59,39.15,47.08
uber_low,301.00,33.16,5.97,13.71,29.21,32.26,36.92,45.08
uber_close,301.00,33.94,5.88,14.82,29.74,33.02,37.60,46.38
uber_volume,301.00,25472785.45,21030248.38,3380003.00,9799269.00,21282810.00,34115865.00,186322536.00

In [10]:
#korelacja poszczególnych zmiennych
df.corr()

,apple_open,apple_high,apple_low,apple_close,apple_volume,amazon_open,amazon_high,amazon_low,amazon_close,amazon_volume,google_open,google_high,google_low,google_close,google_volume,uber_open,uber_high,uber_low,uber_close,uber_volume
apple_open,1.00,1.00,1.00,1.00,-0.13,0.92,0.92,0.92,0.92,0.13,0.94,0.94,0.94,0.94,0.06,-0.33,-0.34,-0.33,-0.34,0.24
apple_high,1.00,1.00,1.00,1.00,-0.12,0.92,0.92,0.92,0.92,0.13,0.94,0.94,0.93,0.94,0.07,-0.34,-0.35,-0.34,-0.35,0.25
apple_low,1.00,1.00,1.00,1.00,-0.14,0.92,0.92,0.92,0.92,0.12,0.94,0.94,0.94,0.94,0.06,-0.33,-0.34,-0.32,-0.33,0.23
apple_close,1.00,1.00,1.00,1.00,-0.13,0.92,0.92,0.92,0.92,0.12,0.94,0.94,0.94,0.94,0.06,-0.34,-0.35,-0.33,-0.34,0.24
apple_volume,-0.13,-0.12,-0.14,-0.13,1.00,-0.18,-0.17,-0.19,-0.18,0.40,-0.24,-0.23,-0.25,-0.24,0.47,-0.36,-0.33,-0.40,-0.38,0.43
amazon_open,0.92,0.92,0.92,0.92,-0.18,1.00,1.00,1.00,1.00,0.19,0.94,0.95,0.94,0.94,0.06,-0.02,-0.03,-0.03,-0.03,0.04
amazon_high,0.92,0.92,0.92,0.92,-0.17,1.00,1.00,1.00,1.00,0.20,0.94,0.95,0.94,0.94,0.07,-0.04,-0.04,-0.04,-0.05,0.05
amazon_low,0.92,0.92,0.92,0.92,-0.19,1.00,1.00,1.00,1.00,0.17,0.95,0.95,0.94,0.95,0.05,-0.01,-0.02,-0.02,-0.02,0.04
amazon_close,0.92,0.92,0.92,0.92,-0.18,1.00,1.00,1.00,1.00,0.19,0.94,0.95,0.94,0.94,0.06,-0.03,-0.04,-0.03,-0.03,0.04
amazon_volume,0.13,0.13,0.12,0.12,0.40,0.19,0.20,0.17,0.19,1.00,0.12,0.14,0.10,0.12,0.63,-0.25,-0.23,-0.28,-0.26,0.30
google_open,0.94,0.94,0.94,0.94,-0.24,0.94,0.94,0.95,0.94,0.12,1.00,1.00,1.00,1.00,0.02,-0.15,-0.17,-0.14,-0.15,0.16
google_high,0.94,0.94,0.94,0.94,-0.23,0.95,0.95,0.95,0.95,0.14,1.00,1.00,1.00,1.00,0.03,-0.18,-0.19,-0.17,-0.18,0.18
google_low,0.94,0.93,0.94,0.94,-0.25,0.94,0.94,0.94,0.94,0.10,1.00,1.00,1.00,1.00,-0.00,-0.13,-0.15,-0.11,-0.13,0.13
google_close,0.94,0.94,0.94,0.94,-0.24,0.94,0.94,0.95,0.94,0.12,1.00,1.00,1.00,1.00,0.01,-0.16,-0.17,-0.14,-0.15,0.16
google_volume,0.06,0.07,0.06,0.06,0.47,0.06,0.07,0.05,0.06,0.63,0.02,0.03,-0.00,0.01,1.00,-0.28,-0.25,-0.31,-0.28,0.36
uber_open,-0.33,-0.34,-0.33,-0.34,-0.36,-0.02,-0.04,-0.01,-0.03,-0.25,-0.15,-0.18,-0.13,-0.16,-0.28,1.00,0.99,0.99,0.99,-0.34
uber_high,-0.34,-0.35,-0.34,-0.35,-0.33,-0.03,-0.04,-0.02,-0.04,-0.23,-0.17,-0.19,-0.15,-0.17,-0.25,0.99,1.00,0.99,0.99,-0.29
uber_low,-0.33,-0.34,-0.32,-0.33,-0.40,-0.03,-0.04,-0.02,-0.03,-0.28,-0.14,-0.17,-0.11,-0.14,-0.31,0.99,0.99,1.00,0.99,-0.36
uber_close,-0.34,-0.35,-0.33,-0.34,-0.38,-0.03,-0.05,-0.02,-0.03,-0.26,-0.15,-0.18,-0.13,-0.15,-0.28,0.99,0.99,0.99,1.00,-0.32
uber_volume,0.24,0.25,0.23,0.24,0.43,0.04,0.05,0.04,0.04,0.30,0.16,0.18,0.13,0.16,0.36,-0.34,-0.29,-0.36,-0.32,1.00

In [11]:
#wszystkie dostępne kolumny
df.columns

Index(['apple_open', 'apple_high', 'apple_low', 'apple_close', 'apple_volume',
       'amazon_open', 'amazon_high', 'amazon_low', 'amazon_close',
       'amazon_volume', 'google_open', 'google_high', 'google_low',
       'google_close', 'google_volume', 'uber_open', 'uber_high', 'uber_low',
       'uber_close', 'uber_volume'],
      dtype='object')

In [12]:
#znajdujemy kolumny w których są ceny zamknięcia poszczególnych spółek
closes = [col for col in df.columns if col.endswith('close')]
closes

['apple_close', 'amazon_close', 'google_close', 'uber_close']

In [13]:
#ceny zamknięcia spółek
df[closes]

            apple_close  amazon_close  google_close  uber_close
Date
2015-07-23       115.36        482.18        674.73         nan
2015-07-24       114.74        529.42        654.77         nan
2015-07-27       113.15        531.41        658.27         nan
2015-07-28       113.71        526.03        659.66         nan
2015-07-29       113.37        529.00        661.43         nan
...                 ...           ...           ...         ...
2020-07-14       388.23       3084.00       1520.86       30.93
2020-07-15       390.90       3008.87       1516.88       32.81
2020-07-16       386.09       2999.90       1514.92       32.35
2020-07-17       385.31       2961.97       1516.85       32.55
2020-07-20       393.43       3196.84       1563.84       33.66

[1257 rows x 4 columns]

In [14]:
#korelacja między cenami zamknięcia
df[closes].corr()

              apple_close  amazon_close  google_close  uber_close
apple_close          1.00          0.92          0.94       -0.34
amazon_close         0.92          1.00          0.94       -0.03
google_close         0.94          0.94          1.00       -0.15
uber_close          -0.34         -0.03         -0.15        1.00

In [17]:
#wyświetlamy kolumny zamknięcia i obrotu
closes = [col for col in df.columns if col.endswith('close') or col.endswith('volume')]
closes

['apple_close',
 'apple_volume',
 'amazon_close',
 'amazon_volume',
 'google_close',
 'google_volume',
 'uber_close',
 'uber_volume']

In [18]:
#uber czerwiec
uber_6 = uber[uber.index.month == 6]
uber_6

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2020-06-30      30.83      31.25     30.13       31.08     21282810
2020-06-29      29.51      29.75     28.39       29.63     20795402
2020-06-26      30.44      30.44     29.21       29.61     46482331
2020-06-25      30.00      30.86     29.56       30.58     19142789
2020-06-24      32.75      32.93     30.45       30.46     29477229
2020-06-23      32.88      33.21     32.59       33.05     13622126
2020-06-22      32.43      32.85     31.43       32.68     17790276
2020-06-19      33.98      34.02     32.27       32.30     29426285
2020-06-18      33.00      33.44     32.80       33.40     15495838
2020-06-17      33.50      33.59     33.01       33.29     14827742
2020-06-16      34.00      34.17     32.43       33.49     21377119
2020-06-15      31.16      32.68     31.02       32.67     21350290
2020-06-12      32.73      32.74     31.04       32.24     27685169
2020-06-11      32.63      33.24     30.89       31.10     45298714
2020-06-10      36.69      36.80     34.27       34.83     43473719
2020-06-09      36.70      37.33     36.25       36.59     15127269
2020-06-08      37.87      37.90     36.09       37.08     30099525
2020-06-05      37.53      38.78     36.92       37.21     30393429
2020-06-04      36.42      37.30     36.28       36.43     17423577
2020-06-03      36.20      37.37     36.14       36.75     23051776
2020-06-02      36.16      36.42     35.26       35.81     19328415
2020-06-01      35.64      36.39     35.16       35.82     21893806
2019-06-28      45.10      47.08     45.08       46.38     28657002
2019-06-27      43.35      45.30     43.20       45.13     20155079
2019-06-26      43.25      43.40     42.36       42.50      8109056
2019-06-25      43.28      43.79     42.44       43.09      5755107
2019-06-24      44.00      44.07     42.82       43.09      5985052
2019-06-21      43.85      44.14     43.38       44.00      4973987
2019-06-20      45.03      45.29     43.51       43.86      9567367
2019-06-19      44.46      45.50     43.95       44.86     10331520
2019-06-18      44.30      44.89     43.75       43.86      7313602
2019-06-17      43.28      44.08     42.93       43.78      6557589
2019-06-14      44.75      44.80     43.11       43.23      7902223
2019-06-13      43.05      44.35     42.80       44.31     10178935
2019-06-12      42.52      42.65     41.71       42.17      5965250
2019-06-11      43.22      43.65     41.80       42.45      9095044
2019-06-10      44.02      44.59     42.53       42.61     11618701
2019-06-07      44.92      45.67     44.13       44.16     12654670
2019-06-06      45.00      45.75     44.28       44.92     16403691
2019-06-05      42.87      45.66     42.50       45.00     28609604
2019-06-04      42.56      42.88     40.70       42.75     23432141
2019-06-03      40.74      41.85     40.24       41.25     16605261

In [19]:
#uber lipiec
uber_7 = uber[uber.index.month == 7]
uber_7

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2020-07-20      32.48      33.92     32.35       33.66     16213609
2020-07-17      32.58      32.82     31.85       32.55     13667896
2020-07-16      32.05      32.59     31.55       32.35     11090750
2020-07-15      32.10      32.97     31.68       32.81     20976523
2020-07-14      31.35      31.38     30.48       30.93     21781825
2020-07-13      33.21      33.60     31.66       31.72     19604822
2020-07-10      33.14      33.55     32.65       33.14     13586289
2020-07-09      34.24      34.46     32.26       33.15     25061818
2020-07-08      33.21      33.97     32.68       33.93     24602369
2020-07-07      32.46      33.56     32.39       32.82     34874658
2020-07-06      33.10      33.20     31.76       32.52     42392222
2020-07-02      31.02      31.57     30.51       30.68     14981137
2020-07-01      30.96      31.27     30.16       30.43     13611544
2019-07-31      42.60      42.98     41.84       42.14      5970774
2019-07-30      43.71      43.74     42.49       42.59      7686342
2019-07-29      45.00      45.63     43.12       43.88      8652204
2019-07-26      43.42      44.96     43.39       44.52      7598828
2019-07-25      43.72      43.96     43.21       43.40      4411991
2019-07-24      43.36      43.87     43.36       43.76      3775677
2019-07-23      43.75      44.31     43.11       43.36      5110090
2019-07-22      43.25      43.72     43.01       43.69      3822276
2019-07-19      43.90      44.09     43.16       43.18      4021018
2019-07-18      43.50      43.85     43.19       43.71      4123615
2019-07-17      44.06      44.35     43.52       43.62      5854149
2019-07-16      44.60      44.98     44.02       44.13      5613321
2019-07-15      44.20      44.70     43.97       44.53      5811160
2019-07-12      44.16      44.24     43.39       43.99      8760526
2019-07-11      44.10      44.29     43.31       43.99      8050856
2019-07-10      44.48      44.80     43.56       43.70      9746505
2019-07-09      43.18      44.23     42.98       44.20      5251564
2019-07-08      43.59      43.85     42.75       42.95      9304101
2019-07-05      44.31      44.55     43.01       43.53      8239452
2019-07-03      44.00      44.46     43.79       44.23      3380003
2019-07-02      44.55      44.68     43.75       44.00     11881274
2019-07-01      46.98      47.04     44.06       44.27     17739998

In [21]:
#łączymy dane 
uber_6_7 = uber_6.append(uber_7)
uber_6_7

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2020-06-30      30.83      31.25     30.13       31.08     21282810
2020-06-29      29.51      29.75     28.39       29.63     20795402
2020-06-26      30.44      30.44     29.21       29.61     46482331
2020-06-25      30.00      30.86     29.56       30.58     19142789
2020-06-24      32.75      32.93     30.45       30.46     29477229
...               ...        ...       ...         ...          ...
2019-07-08      43.59      43.85     42.75       42.95      9304101
2019-07-05      44.31      44.55     43.01       43.53      8239452
2019-07-03      44.00      44.46     43.79       44.23      3380003
2019-07-02      44.55      44.68     43.75       44.00     11881274
2019-07-01      46.98      47.04     44.06       44.27     17739998

[77 rows x 5 columns]