In [1]:
import pandas as pd
pd.__version__

'1.0.1'

In [2]:
#obiekty typu SERIES

In [4]:
s=pd.Series(data=[3,2,4,6])
s

0    3
1    2
2    4
3    6
dtype: int64

In [6]:
s=pd.Series(data=[3,2,4,6], index=['a','b','c','d'])
s

a    3
b    2
c    4
d    6
dtype: int64

In [8]:
s=pd.Series(data=[3,2,4,6], index =['a','b','c','d'], name='sample')
s

a    3
b    2
c    4
d    6
Name: sample, dtype: int64

In [9]:
s=pd.Series(data=[3.,2,4,6], index =['a','b','c','d'], name='sample')
s

a    3.0
b    2.0
c    4.0
d    6.0
Name: sample, dtype: float64

In [10]:
#np.nan wypelnia nam komorke i pomija ja w obliczeniach
import numpy as np
s=pd.Series(data=[3.,np.nan,4,6], index =['a','b','c','d'], name='sample')
s

a    3.0
b    NaN
c    4.0
d    6.0
Name: sample, dtype: float64

In [11]:
#wartości boolowskie
s=pd.Series(data=[True,False,False])
s

0     True
1    False
2    False
dtype: bool

In [36]:
#parametr star został rozczytany jako data i mamy 10 dni
s=pd.Series(data=np.arange(10,20), index=pd.date_range(start='20200101',periods=10))
s

2020-01-01    10
2020-01-02    11
2020-01-03    12
2020-01-04    13
2020-01-05    14
2020-01-06    15
2020-01-07    16
2020-01-08    17
2020-01-09    18
2020-01-10    19
Freq: D, dtype: int32

In [31]:
list(s.index)

[Timestamp('2020-01-01 00:00:00', freq='D'),
 Timestamp('2020-01-02 00:00:00', freq='D'),
 Timestamp('2020-01-03 00:00:00', freq='D'),
 Timestamp('2020-01-04 00:00:00', freq='D'),
 Timestamp('2020-01-05 00:00:00', freq='D'),
 Timestamp('2020-01-06 00:00:00', freq='D'),
 Timestamp('2020-01-07 00:00:00', freq='D'),
 Timestamp('2020-01-08 00:00:00', freq='D'),
 Timestamp('2020-01-09 00:00:00', freq='D'),
 Timestamp('2020-01-10 00:00:00', freq='D')]

In [38]:
#zapisanie danych literowcyh w serii
s=pd.Series(data=['python', 'java','sql'], name='language')
s

0    python
1      java
2       sql
Name: language, dtype: object

In [39]:
#pokazuje typ danych
type(s)

pandas.core.series.Series

In [40]:
#pokazuje nam indexy danych
s.index

RangeIndex(start=0, stop=3, step=1)

In [41]:
#pokazuje nam wartości komórek
s.values

array(['python', 'java', 'sql'], dtype=object)

In [42]:
#jeśli mamy tekst to zwróci nam taką wartość
s.dtypes

dtype('O')

In [43]:
s.shape

(3,)

In [56]:
price=pd.Series(data={'Apple': 200, 'CD Project': 60, 'Amazon': 1900, 'KGHM': np.nan})
price

Apple          200.0
CD Project      60.0
Amazon        1900.0
KGHM             NaN
dtype: float64

In [46]:
price['CD Project']

60

In [47]:
price[1]

60

In [57]:
#zlicza ile elementów mamy w obiekcie
price.count()

3

In [59]:
#sprawdza ile razy wystąpiły dane | dropna ustawione na false znicza nam braki danych
price.value_counts(dropna=False)

NaN       1
1900.0    1
60.0      1
200.0     1
dtype: int64

In [60]:
price.sum()

2160.0

In [61]:
price.min()

60.0

In [62]:
price.max()

1900.0

In [63]:
price.std()

1024.3046421841502

In [64]:
#wyświetla wszystkie dane
price.describe()

count       3.000000
mean      720.000000
std      1024.304642
min        60.000000
25%       130.000000
50%       200.000000
75%      1050.000000
max      1900.000000
dtype: float64

In [66]:
#wybiera 2 elementy z tablicy które są najdroższe
price.nlargest(2)

Amazon    1900.0
Apple      200.0
dtype: float64

In [67]:
#wybiera 2 elementy z tabliczy które są najmniejsze
price.nsmallest(2)

CD Project     60.0
Apple         200.0
dtype: float64

In [68]:
#porządkuje dane. od 1 do ... - od najmniejszej wartośći do największej
price.rank()

Apple         2.0
CD Project    1.0
Amazon        3.0
KGHM          NaN
dtype: float64

In [69]:
#tak samo sortuje tylko, że wartośćiami rosnąco
price.sort_values()

CD Project      60.0
Apple          200.0
Amazon        1900.0
KGHM             NaN
dtype: float64

In [70]:
#tak samo sortuje tylko, że wartośćiami malejąco
price.sort_values(ascending=False)

Amazon        1900.0
Apple          200.0
CD Project      60.0
KGHM             NaN
dtype: float64

In [74]:
#zamiana danych na złotówki za pomocą funkcji. Użyliśmy funkcji lambda - to jest taka mini funkcja szybka do zrobienia
price_pln=price.apply(lambda x: x*3.8)

In [72]:
price

Apple          200.0
CD Project      60.0
Amazon        1900.0
KGHM             NaN
dtype: float64

In [75]:
price_pln

Apple          760.0
CD Project     228.0
Amazon        7220.0
KGHM             NaN
dtype: float64